{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>新建文章</title>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'vmsg/vmsg.css' %}" rel="stylesheet">

</head>

<body>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <form id="New Post" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-text">标题</label>
                    <input name="title" class="form-control" value="随笔"/>
                </div>
                <div class="form-group">
                    <label class="form-text">概要</label>
                    <textarea name="brief" class="form-control" id="brief">随便写点东西</textarea>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <a id="recordButton" class="btn btn-block btn-primary">开始录音</a>
                    </div>
                    <div class="col-lg-4">
                        <a id="deleteAudio" class="btn btn-block btn-danger">删除录音</a>
                    </div>

                    <div class="col-lg-4" id="recordedAudio">
                        <input type="file" name="audio_file">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-text">
                        正文
                    </label>
                    <textarea name="text" class="form-control" rows="15" id="text"></textarea>
                </div>
                {% csrf_token %}
                <button class="btn btn-block btn-primary" type="submit">提交</button>
            </form>
        </div>
    </div>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script src="{% static 'vmsg/app.js' %}" type="module"></script>

<script>
    jQuery(document).ready(function($) {
        $("#recordButton").click(function() {
            showRecord("{% static 'vmsg/vmsg.wasm' %}").then(blob => {
                console.log("Recorded MP3", blob);
                var url = URL.createObjectURL(blob);
                console.log(`Generated URL is ${url}`);
                $("#recordedAudio").html(`<audio controls="true" src="${url}" style="width:100%"></audio>`);
                var reader = new FileReader();
                reader.onload = function(event) {
                    var audioData = $('<input type="hidden" id="audioData" name="audioData">');
                    audioData.val( event.target.result );
                    $("#recordedAudio").append(audioData);
                };

                reader.readAsDataURL(blob);
                $('input[type=file]').value = blob;
            });
        });
        $("#deleteAudio").click(function() {
            $("#recordedAudio").html('<input type="file" accept="*.mp3" name="filename">');
        })
    });
</script>
</body>

</html>
