{% extends 'index.html' %}
{% load staticfiles %}

{% block header %}

    <!-- Page Header -->
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.summary }}</h2>
                        <span class="meta">发表于{{ post.create_time }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block main %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                {% if post.audio %}
                    <audio controls="true" preload="none" src="{{ MEDIA_URL }}{{ post.audio.file }}" style="width:100%"></audio>
                {% endif %}
                <div class="col-lg-12 col-md-12 mx-auto">
                    {{ content|safe }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block scripts %}
    <script>
        jQuery(document).ready(function($) {
            $("table").addClass("table table-responsive");
        });
    </script>

{% endblock %}
